.footer-container {
  background-color: #145214; 
  color: #fff; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.legend {
  display: flex;
  align-items: center;
}

.legend span {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.red-legend {
  color: #ff6666; 
}

.yellow-legend {
  color: #ffffcc;
}

.green-legend {
  color: #66cc66;
}

.swap-legend {
  color: #ffcc66; 
}

.speed-input {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

label {
  margin-right: 10px;
}

input {
  width: 100px;
}
