.navbar {
  background-color: #D6FFB7;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

.navbar button {
  background-color: #f0f0f0;
  color: #333;
  margin: 0.2rem;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #e0e0e0;
}

.navbar button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #999;
  border: 1px solid #999;
}
